
.bd{
    background-color: rgb(0, 0, 0);
    
}



body{
    transition: background-color 0.7s;
   

}

.calculator{
    margin-left: 36%;
    margin-right: 36%;
    padding-bottom: 3%;
    border-radius: 50px;
    background-color: rgb(30, 30, 30);
    margin-top: 1%;
padding-top:2% ;
transition: background-color 0.7s;


}



.div1{
    justify-content: center;
    display: flex   ;
    align-items: center;
    gap: 9px;
    
}
#buton{
    font-size: 27px;
    height: 70px;
    width: 70px;
    margin-top:7px ;
    border-radius: 50px;
    color: white;
    border-style: hidden;
    
}

button:hover{
    transition: 1s;
    background-color: rgb(55, 55, 55);
}

div input{
    border-style: hidden;
    font-size: 40px;
    padding-right: 5%;
    color: white;
    background-color: rgb(30 , 30 ,30);
    margin-bottom: 5px;
}
input:focus{
    outline: none;
    border: none;
    box-shadow: none;
}
div input::placeholder{
    color: white;
}



#display{
    width: 294px;
    height: 45px;
    border-radius: 20px;
    text-align: right;
    transition: background-Color 0.8s;
}


.butn1{
    background-color: rgb(164, 164, 164);
}
.butn2{
    background-color: rgb(255, 149, 0);
    font-size:30px ;

}

.butn{
    background-color: rgb(96, 96, 96);
}

#switchCheckDefault{
    margin-left: 36%;
    margin-top: 1%;
    width: 1px;
    height: 35px;
    
}
.form-check-label{
    margin-top: 20px;
    margin-left: 0.5%;
    color: white;
    transition: color 0.8s;
}
#switchCheckDefault:hover{
    cursor: pointer;
}





/*Üst Menü*/
header{

    padding: 15px 0;
    background-color: transparent;
    
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50 px;
    margin-top:4%;
    padding:0;
    font-family: 'Gill Sans';
    font-size: 18px;

}

nav button{
    background-color: transparent;
    color: white;
    border-style: none;
}
nav button:hover{
    transition: 0.5s;
    background-color: transparent;
    color: rgb(60, 60, 60);
}




