
body{
    
background-color: rgb(218, 205, 205);
}

h1{
    text-align: center;
    font-family: Arial,sans-serif;
}

h2{

    font-family: Arial ,sans-serif;
padding-left:1% ;
}
h4{
    font-family: Arial, sans-serif;
    padding-left:1% ;
}

#oyun_alani{
    text-align: center;
    background-color: rgb(232, 226, 226);
    border-radius: 70px;
    padding-top:3% ;
    padding-bottom:3% ;
margin-right: 10%;
margin-left: 10%;
}

.kural{
    
    margin-top:2%;
    background-color: darkgray ;
    margin-left: 10%;
    margin-right: 34%;
    border-radius: 50px;
    padding-bottom:1% ;
    padding-left: 1%;   
    padding-top: 1%;
    padding-right: 1%;

}

.ph {
    display: flex;
    gap: 750px;
    padding-left: 15%;
    font-size: 25px;
    margin-top: 3%;
margin: 0.01px;
}

#point{
    text-align: left;
}
#heart{
    text-align: right;
}

#won{
    text-align: center;
    font-family: Arial,  sans-serif;
    padding-bottom: 1%;
    font-size: 20px;
}
.kart-btn{
    height: 10px;
    width: 10px;
    border-radius: 20px;
    margin: 12px 12px 12px 12px;
    padding: 4%;
    border-style: initial;

   
}

.kart-btn:hover{
    opacity: 40%;
    transition : 0.3s;
    transform: scale(1.1)
    
}

#again{
    width: 200px;
    height: 30px;
    justify-content: center;
    margin-left: 36%;
    border-radius: 17px;
    font-family: 'Segoe UI';
    border-style:initial;
    background-color: black;
    color: white;
    
    

}

#again:hover{

    opacity: 40%;
    transition: 0.3s;
    background-color:rgb(255, 0, 0);
    font-size: 15px;
    color: white;
    transform: scale(1.02);
    


}
